@import 'reset';
@import 'vars';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit; /* stylelint-disable-line */
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

body {
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: var(--bg-color);
  visibility: visible;
}

*, *::before, *::after { /* stylelint-disable-line */
  box-sizing: inherit;
}

header {
  margin: 2rem 0;
}

h1 {
  font-size: 3rem;
}

.hide {
  display: none;
}

.world {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(180deg, #c08329 0%, #46a2bb 50%);
  z-index: 0;
}

.posetest {
  position: absolute;
  bottom: 0;
  z-index: 3;
  filter: sepia(.8) brightness(1);
  /* opacity: .8; */
}

.outputborder {
  position: absolute;
  bottom: 0;
  margin-left: -2rem;
  margin-bottom: 0;
  z-index: 4;
  background-image: url(../assets/bordercam.png);
  width: 34rem;
  height: 25rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.display_page {
  position: fixed;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 500px 5px black inset;
  z-index: 1;
}

.display_page_dead {
  position: fixed;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 500px 5px red inset;
  z-index: 1;
  background-color: rgb(0, 0, 0, .4);
}

.display_page_damage {
  position: fixed;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 500px 5px red inset;
  z-index: 1;
  visibility: visible;
  opacity: 1;
  transition: opacity .1s linear;
}

.display_page_damage_hidden {
  position: fixed;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 100px 5px red inset;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .5s, opacity .5s linear;
}

.tutorial_screen {
  position: fixed;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 500px 5px black inset;
  z-index: 10;
  background-image: url(../assets/loadingbg.jpg);
  background-size: cover;
  font-size: 4rem;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.tuts {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.tut_content {
  margin-top: 10%;
  padding-left: 5rem;
  padding-right: 5rem;
}

.TutBottomLeft {
  height: 13rem;
  width: 60rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url(../assets/bigpoly.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.TutBottomRight {
  height: 13rem;
  width: 60rem;
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url(../assets/bigpoly.svg);
  background-size: cover;
  background-repeat: no-repeat;
  transform: scaleX(-1);
}

.TutTopLeft {
  height: 10rem;
  width: 15rem;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../assets/smallpoly.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.TutTopRight {
  height: 10rem;
  width: 15rem;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(../assets/smallpoly.svg);
  background-size: cover;
  background-repeat: no-repeat;
  transform: scaleX(-1);
}

.tutorial_play {
  margin-top: 10rem;
  border: .4rem solid white;
  padding: 1rem 3rem;
  font-size: 3rem;
  display: inline-block;
}

.tutorial_play:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.menu_play {
  text-transform: uppercase;
  padding: 2rem 5rem;
  border: .5rem solid white;
  font-size: 4rem;
  font-weight: bold;
  color: black;
}

.menu_close {
  border: .5rem solid red;
}

.menu_page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu_info {
  position: absolute;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.menu_info_rule {
  font-size: 2rem;
  color: black;
  margin-top: 2rem;
}

.too_close {
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: #fc0 1px 0 10px;
}

.te_dicht {
  position: absolute;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3rem;
}

.died_txt {
  position: absolute;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;

}

.died_title {
  font-size: 5rem;
  margin-bottom: 2rem;
}

.play_again {
  padding: 1rem;
  border: .1rem solid white;
  margin-top: 3rem;
  font-size: 3rem;
}

.play_again:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.gameover_score {
  font-size: 4rem;
  margin-top: 1rem;
}

.healthbar {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 38rem;
  height: 5rem;
  z-index: 3;
}

.fatigue {
  width: 100%;
  height: 100%;
  appearance: none;
}

.fatigue::-webkit-progress-bar {
  background-color: grey;
  border-radius: 2px;
}

.fatigue::-webkit-progress-value {
  border-radius: 2px;
}

.fatigue[value]::-webkit-progress-value {
  background-color: #f5c260;
  background-image: linear-gradient(to right, #f4c242, #ffb700);
  border-radius: 2px;
}

.loading-screen {
  position: absolute;
  z-index: 15;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../assets/loadingbg.jpg);
  background-color: black;
  background-size: cover;
  opacity: 1;
  transition: 1s opacity;
  transition-delay: 2s;
}

.loading-screen.fade-out {
  opacity: 0;
}

.logowrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}

.logo {
  width: 645px;
  height: 464px;
  background-image: url(../assets/flexlogo.png);
}

.loader {
  display: block;
  position: relative;
  left: 50%;
  top: 80%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: white;
  animation: spin 2s linear infinite;
}

.loader::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: white;
  animation: spin 3s linear infinite;
}

.loader::after {
  content: '';
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: white;
  animation: spin 1.5s linear infinite;
}

.score {
  font-size: 2.1rem;
  color: white;
  position: absolute;
  top: 1.2%;
  left: 1%;
  z-index: 6;
  font-weight: bold;
  text-shadow: .2rem .2rem 2rem black;
}

.topRight {
  height: 11.8rem;
  width: 10.8rem;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  background-image: url(../assets/topright.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.topLeftt {
  height: 8.8rem;
  width: 30.2rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  background-image: url(../assets/topleft.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.bottomright {
  height: 8.6rem;
  width: 40rem;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 5;
  background-image: url(../assets/fatigueborder.png);
  background-size: cover;
  background-repeat: no-repeat;
}

@keyframes spin {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
