@import 'reset';
@import 'vars';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit; /* stylelint-disable-line */
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

body {
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: var(--bg-color);
  visibility: visible;
}

*, *::before, *::after { /* stylelint-disable-line */
  box-sizing: inherit;
}

header {
  margin: 2rem 0;
}

h1 {
  font-size: 3rem;
}

.hide {
  display: none;
}

.world {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(180deg, #fcff9e 0%, #c67700 100%);
  z-index: 0;
}

.posetest {
  position: absolute;
  bottom: 0;
  z-index: 3;
}

.display_page {
  position: fixed;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 500px 5px black inset;
  z-index: 1;
}

.menu_play {
  text-transform: uppercase;
  padding: 2rem 5rem;
  border: .5rem solid white;
  font-size: 4rem;
  font-weight: bold;
  color: black;
}

.menu_close {
  border: .5rem solid red;
}

.menu_page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu_info {
  position: absolute;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.menu_info_rule {
  font-size: 2rem;
  color: black;
  margin-top: 2rem;
}

.too_close {
  display: flex;
  align-items: center;
  justify-content: center;
}

.te_dicht {

  position: absolute;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3rem;
}

.healthbar {
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 5rem;
  z-index: 3;
  position: absolute;
}

.fatigue {
  width: 90%;
  height: 2rem;
  appearance: none;
}

.fatigue::-webkit-progress-bar {
  background-color: grey;
  border-radius: 2px;
}

.fatigue::-webkit-progress-value {
  border-radius: 2px;
}

.fatigue[value]::-webkit-progress-value {
  background-color: #f7bb03;
  border-radius: 2px;
}

.loading-screen {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../assets/loadingbg.jpg);
  background-color: black;
  background-size: cover;
  opacity: 1;
  transition: 1s opacity;
  transition-delay: 2s;
}

.loading-screen.fade-out {
  opacity: 0;
}

.logowrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}

.logo {
  width: 645px;
  height: 464px;
  background-image: url(../assets/flexlogo.png);
}

.loader {
  display: block;
  position: relative;
  left: 50%;
  top: 80%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: white;
  animation: spin 2s linear infinite;
}

.loader::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: white;
  animation: spin 3s linear infinite;
}

.loader::after {
  content: '';
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: white;
  animation: spin 1.5s linear infinite;
}

.score {
  font-size: 2rem;
  color: white;
  position: absolute;
  top: 1%;
  left: 1%;
  z-index: 2;
}

@keyframes spin {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
